node_modules/

out/
dist/
build/
.svelte-kit/
.vite/
*.tsbuildinfo

package-lock.json
yarn.lock
bun.lockb

*.log

.env
.env.*
!.env.example

*.p12
*.pfx
*.pem
*.snupkg

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

.prerender/
